@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
}
*{
    margin: 0;padding: 0;box-sizing: border-box; font-family: 'Crimson Text', serif; 

}
a{text-decoration: none;}
a:hover{
    text-decoration: underline;
}
li{
    list-style: none;
}
section{
    padding: 100px 200px;
}
nav{
    height: 80px;
    width:100%;
    background:#1a1814;
}
label.logo{
    font-size: 40px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;
}
nav ul{
    float: right;
    margin-right: 40px;
}
nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a{
    color: white;
    font-size: 20px;
    padding: 17px 40px;
}
a.active,a:hover{
    color: coral;
}
.follow a{
    font-size: 2.4rem;
    color:white;
    justify-content: space-between;
    
}
.follow a:hover{
    color: coral;
}
#menu-bars{
    position: fixed;
    top: 1rem;
    right:1rem;
    z-index: 10000;
    background-color: coral;
    color: white;
    border-radius: .4rem;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    display: none;
}
@media(max-width: 1048px)
{
    label.logo{
        font-size: 40px;
        padding-left: 60px;
    }
   
    #menu-bars{
        display: initial;
    }
    .header{
        left: -120%;
    }
    .header nav .active{
        left:0%;
    }
}
@media (max-width:909px)
{
    nav #icon{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:#80b3ff;
        top: 80px;
        left: -100%;
        left: 0;
        text-align: center;
        transition: all .5s ease;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a.active,a:hover{
        color: coral;
    }
    nav ul.show{
        left:0;
    }
}
.cursor-1{
    position: absolute;
    top: 500px;
    left: 500px;
    height: 1rem;
    width: 1rem;
    background-color: coral;
    pointer-events: none;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}
  
/*
.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/1622527696701.jpg)no-repeat;
    background-size: auto;
    background-position: right;
    background-attachment: fixed;
}
*/
.main .content h2 span{
    font-size: 2.8em;
    font-weight: 600;
    overflow: hidden;
}

.navbar-brand{
    font-size: 2rem;
}
.header-section{
    width: 100%;
    height: inherit;
    color: saddlebrown;
    text-align: center;
    position: relative;
}
.center-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,50%);
}
.header-button a{
    border: 1px solid black;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}
.header-button a:hover{
    color:black;
    background-color: white;
    text-decoration:none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.center-div p{
    font-size: 1.3rem;
    

}


.animated-text h3:nth-child(1)
{
    animation: text-move 10s infinite;
}


.btn{
    color: floralwhite;
    background: dimgray;
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 2px;
    transition: 0.5s ease;
}



.btn:hover{
    background: tomato;
}
.media-icons{
    margin-top: 50px;
}
.media-icons a{
    color: black

}

header{
    z-index: 999;
    position: fixed;
    background: rgba(225,255,255,0.1);
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
}

header.sticky{
    background: black;
    padding: 10px 30px;
}



.header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)) ,url('images/bg2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    clip-path: polygon(100% 0%,100% 75%,50% 100%,0 75%,0 0);
    position: relative;
}
.header:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: .3;
    z-index: -1;
    background: linear-gradient(to right,#1e5799 0%,#3ccdbb 0%,#16c9f6 100%);
}
.nav-item a{
    color: blanchedalmond!important;
    font-weight: bold;

}
.navbar-brand{
    font-size: 2rem;
}

header .brand{
    color: white;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
header .nav-item{
    position: relative;
}


header .nav-item a{
    color:white;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 200px;
}
header .nav-item a:hover{
    color: rgb(2, 41, 65);
}


body{
        min-height: 105vh;    
}

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.section-title{
    position: relative;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 60px;

}
.section-title::before{
    content: '';
    position: absolute;
    top: 56px;
    left: 50%;
    width: 140px;
    height: 4px;
    background:#3a6cf4;
    transform: translateX(-50%);
}


.section-title::after{
    content: '';
    position: absolute;
    top: 50px;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #3a6cf4;
    transform: translateX(-50%);

}

.about .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}
.about-div{
    width: 100%;
    height: 100%;
    margin: auto;
}
.extra-div{
    background:beige;
    border: medium none;
    padding: 50px;
    border-radius: 3px;
    transition: 0.3s;
}
.extra-div:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
}

.about .content .col-left{
    position: relative;
    width: 45%;
}

.about .content .col-right{
    position: relative;
    width: 50%;
}
.about .content .col-left .img-card{
    position: relative;
    width: 100%;
    min-height: 450px;
}

.about .content .col-left .img-card img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}

.about .content .col-right .content-title{
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 20px;
}

.about .content .col-right .paragraph-text{
        font-size: 1em;
}

.skills{
    background: #000016;

}

.skills .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-top: 20px;
}

.skills .content .col-left{
    position: relative;
    width: 46%;
}

.skills .content .col-right{
    position: relative;
    width: 46%;
}

.skills .content .col-right .bar{
    margin-bottom: 15px;
    padding: 10px;
}

.skills .content .col-right .bar .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.skills .content .col-right .bar .info span{
    font-size: 18px;
    font-weight: 500;
}
.skills .content .col-right .bar .line{
    position: relative;
    width: 100%;
    height: 15px;
    background: #ccc;
    border-radius: 2px;
}
.skills .content .col-right .bar .line:before{
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 2px;
}

.skills .content .col-right .bar .Cplusplus:before{
    width: 95%;
    background:#e45126;

}
.skills .content .col-right .bar .C:before{
    width: 90%;
    background: #0c73b8;
}

.skills .content .col-right .bar .html:before{
    width: 88%;
    background:#e3a324;
}
.skills .content .col-right .bar .CSS:before{
    width: 85%;
    background: crimson;
}
.skills .content .col-right .bar .DSA:before{
    width: 82%;
    background: lawngreen ;
}
.skills .content .col-right .bar .DBMS:before{
    width: 80%;
    background: darkslategray ;
}
.education{
    width: 100%;
    padding: 50px;
    height: 100vh;
    position: relative;
}
.education:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    z-index: -1;
    background: linear-gradient(160deg,#16c9f6 55%, #ffffff 0%);
}
.card{
    transition: 0.4s ease;
}
.card-header{
    font-size: 1.6rem;
    font-weight: bolder;
    background-color: #e2dbdb!important;
    padding: 25px 9!important;
}
.card-footer{
    background-color: #e2dbdb;
    font-weight: bolder;
}
.card-body{
    padding: 23px 0px !important;
    background-color: #ffffff;
}
.card-body li{
    margin: 10px 0;
    font-weight: 550;
    font-size: 15px;
    line-height: 1.6;
    color: #606060;
}
.card-footer a{
    border: 1px solid 50d1c0;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: 50d1c0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}
.card:hover .card-footer a{
    color: #ffffff;
    background-color: deepskyblue;
    text-decoration:none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.card:hover{
    transform: translateY(-20px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.658);
}
.card:hover .card-header,.card:hover .money{
    color: deepskyblue;
}
.card-second{
    transform: translateY(-20px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.658);
}

.myprojects .content{
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.title p{
    font-size: 1em;
    width: 80%;

}

.myprojects .content .card{
    background: #ffffff;
    width: 500px;
    margin: 10px;
    padding: 25px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
}
.myprojects .project{
    font-style: italic;
    font-family:  sans-serif;
}

.myprojects .content .card .myprojects-icon{
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.myprojects .content .card:hover .myprojects-icon{
        transform: translateY(-10px);
}

.myprojects .content .card .info{
    text-align: center;
}

.myprojects .content .card .info h3{
        color: #3a6cf4;
        font-size: 1.2em;
        font-weight: 700;
        margin: 10px;
}
.contact .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;

}
.contact .content .row{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
}
.contact .content .row .card{
    background: #ffffff;
    width: 200px;
    margin: 10px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
}

.contact .content .row .card .contact-icon{
    color: #3a6cf4;
    font-size: 4em;
    text-align: center;
    transition: transform 0.5s ease;
}
.contact .content .row .card .contact-icon{
    transform: translateY(-10px);

}

.contact .content .row .card .info{
    text-align: center;

}
.contact .content .row .card .info h3{
    color: #111;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.contact .content .row .card .info  span{
    color: #666;
    font-weight: 500;
}
.contact-form{
    background: #fff;
    max-width: 730px;
    margin-top: 50px;
    padding: 45px;
    border-radius: 15px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 50%)
}


.contact-form h3{
    color: #111;
    font-size: 1.6em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;

}

.contact-form .input-box input,
.contact-form .input-box textarea{
    color: #111;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    font-weight: 400;
    outline: none;
    border: 1px solid #111;
    border-radius: 5px;
    resize: none;

}

.contact-form .input-box .send-btn{
    color: #fff;
    background: #3a6cf4;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
}
.contact-form .input-box .send-btn:hover{
    background: black;
}
.footer{
    text-align: center;
    background: black;
    color: blanchedalmond;
    padding: 2em;
}

.footer .footer-title{
               font-size: 20px;
               font-weight: 600; 
}

.footer p{
    font-size: 16px;
    margin-top: 10px;

}

.footer p a{
    color: #3a6cf4;
    font-weight: 600;
    text-decoration: none;
}

@media (max-width: 1040px){
    header{
        padding: 15px 200px;
    }
    header .sticky{
        padding: 10px 20px;
    }
    header .nav-item{
        display: none;
    }

    .menu-btn{
        position: absolute;
    }

    section{
    padding: 80px 20px;

    }

    .main .content h2{
    font-size: 1em;
    }
    .animated-text h3{
        font-size: 2.2em;
    }
    .section-title{
        font-size: 1.8em;
    }
}









































